* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: thistle;

}

header {
  padding: 5% 5% 0%;

}

header h1{
  color: black;
  font-size: 48px;
  font-weight: 500;
  text-align:center;
   
}

main{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

section {
  padding: 5% ;

}

.searchbox{
  display: block;
  width: 100%;
  padding: 2%;

  border: none;
  outline: none;
  background: none;
  
  background-color: #EEE;
  border-radius: 8px;

  color: #565;
  font-size: 20px;
  font-weight: 300;

  transition:0.4s ease-out;  

}

.searchbox:focus{
  box-shadow: 0px 0px 8px 3px #4484C4;

}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 2%;
}

.results .result{

  width: 33.33%;
  min-width: 250px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.results .result img{
  display: block;
  width: 100%;
}

.results .result h3{
  color: black;
  font-family:'Times New Roman', Times, serif; 
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  background-color:#5655;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3{

  background-color: #ffffff ;
  color: cornflowerblue;

}