* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: thistle;

}

header {
  padding: 5% 5% 0%;

}

header h1{
  color: black;
  font-size: 48px;
  font-weight: 500;
  text-align:center;
   
}

main{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

section {
  padding: 5% ;

}

.searchbox{
  display: block;
  width: 100%;
  padding: 2%;

  border: none;
  outline: none;
  background: none;
  
  background-color: #EEE;
  border-radius: 8px;

  color: #565;
  font-size: 20px;
  font-weight: 300;

  transition:0.4s ease-out;  

}

.searchbox:focus{
  box-shadow: 0px 0px 8px 3px #4484C4;

}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 2%;
}

.results .result{

  width: 33.33%;
  min-width: 250px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.results .result img{
  display: block;
  width: 100%;
}

.results .result h3{
  color: black;
  font-family:'Times New Roman', Times, serif; 
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  background-color:#5655;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3{

  background-color: #ffffff ;
  color: cornflowerblue;

}

.popup {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: thistle;

  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 3%;

  color: black;
}

.popup .content h2 {
  font-size: 30px;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif; 
}

.popup .content h2 span {
  font-weight: 350;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif; 
}

.popup .content .rating {
  margin-bottom: 35px;
  font-family:'Times New Roman', Times, serif; 
}


.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img{
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 1%;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 3%;
}

.popup .content .close {
  display: inline-block;
  padding: 3% 6%;
  font-size:18px;
  font-weight: 700;

  background: rgba(173, 83, 233, 0.582);
  color: black;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.5s ease-out;
}

.popup .content .close:hover {
  background: rgba(67, 20, 99, 0.267);
}
